.mosite {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.5rem;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
}

.greeting {
  height: 9rem;
  display: flex;
  width: auto;
  justify-content: center;
  align-content: space-around;
  padding: 30px 20px;
}

.greeting-text {
  color: var(--text-color);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.clock {
  height: 9rem;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 45%;
  color: var(--container-color);
  font-size: var(--smaller-font-size);
}

.box {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 1.5rem;
}

.mini-box {
  display: flex;
  justify-content: space-between;
}

.greeting,
.clock,
.weather,
.quote,
.news,
.to-do {
  background-color: var(--container-color);
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.weather,
.quote,
.news {
  height: 21.5rem;
  width: 18em;
}

.to-do {
  width: auto;
  height: 42.5rem;
}

@media screen and (min-width: 576px) {
  /* 스마트폰 가로 */
}

@media screen and (min-width: 768px) {
  /* 타블렛 */
}
@media screen and (min-width: 992px) {
  /* 데스크탑 */
}

@media screen and (min-width: 1200px) {
  /* 큰 데스크탑 */
}
