@import "variable.css";
@import "welcome.css";
@import "components/mode.css";
@import "components/button.css";
@import "mosite.css";
@import "components/setting.css";
@import "Components/popup.css";
@import "components/clock.css";
@import "components/weather.css";
@import "components/quote.css";
@import "components/todo.css";

/* fonts */
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  background: transparent;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  background-color: transparent;
}
