/* ========== VARIABLES CSS ========== */
:root {
  /* ========== Color ========== */
  --text-color: #737373;
  --container-color: #ffffff;
  --red: #ff605c;
  --yellow: #ffbd44;
  --green: #00ca4e;
  --blue: #009aca;
  --orange: #ffa451;
  --purple: #944aa0;
  --dark-mode: #393e46;
  --clock-text: #676a6e;
  --clock-shadow: #8ecae6;
  --li-background: #dbdbdb;
  --checkbox: #faeacc;
  --checked: #b1b1b1;
  --todo-hover: rgb(233, 233, 233);
  --placeholder: rgb(190, 189, 189);
}

.dark {
  --text-color: white;
  --container-color: #393e46;
  --red: #ff605c;
  --yellow: #ffbd44;
  --green: #00ca4e;
  --blue: #009aca;
  --orange: #ffa451;
  --purple: white;
  --dark-mode: #393e46;
  --clock-text: #8ecae6;
  --clock-shadow: #676a6e;
  --li-background: #535a64;
  --checkbox: #fff;
  --checked: #8b8b8b;
  --todo-hover: #484f58;
  --placeholder: #6b7581;
}

:root {
  /* ========== Font and typography ========== */
  --body-font: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ========== Font Weight ========== */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-black: 900;

  /* ========== Margin Bottom border ========== */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --little-border: 0.6rem;
  --border: 1.2rem;
  --border-2: 2rem;

  /* ========== Margin Padding ========== */
  --box-padding: 20px 10px;
  /* ========== z index ========== */
  --z-tooltip: ;
  --z-fixed: ;

  /* Responsive typography */
  @media screen and (min-width: 992px) {
    :root {
      --b--h1-font-size: ;
      --h2-font-size: ;
      --h3-font-size: ;
      --normal-font-size: ;
      --small-font-size: ;
      --smaller-font-size: ;
    }
  }
}
