.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.weather-text {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  margin-bottom: 25px;
}

.weather-temp {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: bold;
}

.weather-main {
  color: var(--text-color);
  font-size: var(--h1-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.weather-icon {
  margin-bottom: 20px;
}

/* weather list */
.weather-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#weather-forecast_title {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  width: 100%;
  margin-top: 15px;
}

.weather-forecast_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

.weather-forecast_row > * {
  padding: 3px 10px;
}
